#root {
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bg-primary-color {
  background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
}

.bg-primary-color {
  background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
  /* opacity: 0.5; */
}


.text-primary-color {
  background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
  -webkit-background-clip: text; /* Background clip for text */
  -webkit-text-fill-color: transparent; /* Make the text transparent to show the background */
  background-clip: text; /* Standard background clip */
  text-fill-color: transparent; /* Standard text fill color */
}


.border-primary-color {
  position: relative;
  border-top: gray;
  border-radius: 15px; /* Adjust the border radius */
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.border-primary-color::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px; /* Match the border radius */
  padding: 1px; /* Adjust the thickness of the border */
  background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
  -webkit-mask: 
    linear-gradient(gray 0 0) content-box, 
    linear-gradient(gray 0 0); /* Create space inside the border */
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; /* Ensure the gradient is only applied to the border */
  z-index: -1; /* Position the gradient behind the content */
}

.border-primary-color-y {
  position: relative;
  border-image-slice: 10;
  border: 5px solid transparent;
  border-radius: 15px; /* Adjust the border radius */
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.border-primary-color-y::before {
  content: '';
  position: absolute;
  border: 1px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px; /* Match the border radius */
  padding: 1px; /* Adjust the thickness of the border */
  border-image-slice: 10;
  border-image-source: linear-gradient(176.31deg, rgba(238, 255, 0, 0) 3.03%, #FFAA00 74.58%, #FF5E00 143.84%);
  -webkit-mask: 
    linear-gradient(gray 0 0) content-box, 
    linear-gradient(gray 0 0); /* Create space inside the border */
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; /* Ensure the gradient is only applied to the border */
  z-index: -1; /* Position the gradient behind the content */
}

.border-primary-color-y1 {
  position: relative;
  border-image-slice: 10;
  border-bottom: 5px solid transparent;
  border-radius: 15px; /* Adjust the border radius */
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.border-primary-color-y1::before {
  content: '';
  position: absolute;
  border-bottom: 4px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px; /* Match the border radius */
  padding: 1px; /* Adjust the thickness of the border */
  border-image-slice: 10;
  border-image-source: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
  -webkit-mask: 
    linear-gradient(gray 0 0) content-box, 
    linear-gradient(gray 0 0); /* Create space inside the border */
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; /* Ensure the gradient is only applied to the border */
  z-index: -1; /* Position the gradient behind the content */
}

.border-primary-color-full {
  position: relative;
  border-radius: 800px; /* Adjust the border radius */
  z-index: 1; /* Ensure the content is above the pseudo-element */
}

.border-primary-color-full::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 800px; /* Match the border radius */
  padding: 1px; /* Adjust the thickness of the border */
  background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
  -webkit-mask: 
    linear-gradient(gray 0 0) content-box, 
    linear-gradient(gray 0 0); /* Create space inside the border */
  -webkit-mask-composite: destination-out;
          mask-composite: exclude; /* Ensure the gradient is only applied to the border */
  z-index: -1; /* Position the gradient behind the content */
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.highscore-table th, td{
  padding: 8px 20px;
  border-bottom: 1px solid gray;
}

.highscore-table{
  padding: 0 14px;
}

.highscore-table th, td{
  text-align: left;
}

.highscore-ellipse {
  background: linear-gradient(135deg, #EEFF00 0%, #FFAA00 50.81%, #FF5E00 100%);
}

.bg-normal-002 {
  background: rgba(255, 255, 255, 0.02);
}

.bg-normal-004 {
  background: rgba(255, 255, 255, 0.04);
}

.bg-normal-006 {
  background: rgba(255, 255, 255, 0.06);
}

.bg-normal-1 {
  background: rgba(255, 255, 255, 1);
}

.btn-shadow {
  box-shadow: 0px 20px 36px 0px rgba(197, 98, 12, 0.56);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 0px 0px rgba(197, 98, 12, 1);
}
.bottom-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.bottom-gradient-primary {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #FFAA00 100%);
}

